
@{
    ViewData["Title"] = "Index";
}

<h2>Browse torrents</h2>

<div class="categoryContainer container-fluid">
    <div classs="row .bottom-buffer">
        <div class="col-sm-6">
            <a asp-controller="Search" asp-action="Index" asp-route-id="Audio"> Audio </a>
        </div>
        <div class="col-sm-6">
            <a asp-controller="Search" asp-action="Index" asp-route-id="Games"> Games </a>
        </div>
    </div>

    <div classs="row">
        <div class="col-sm-6">
            <a asp-controller="Search" asp-action="Index" asp-route-id="Video"> Video </a>
            <div class="subcategories">
                <a asp-controller="Search" asp-action="Index" asp-route-id="Movie" asp-route-tag="1"> Movie, </a>
                <a asp-controller="Search" asp-action="Index" asp-route-id="TVshow" asp-route-tag="1"> TV Show </a>
            </div>
        </div>
        <div class="col-sm-6">
            <a asp-controller="Search" asp-action="Index" asp-route-id="Other"> Other </a>
            <div class="subcategories">
                <a asp-controller="Search" asp-action="Index" asp-route-id="Pictures" asp-route-tag="1"> Pictures, </a>
                <a asp-controller="Search" asp-action="Index" asp-route-id="Ebooks" asp-route-tag="1"> Ebooks, </a>
                <a asp-controller="Search" asp-action="Index" asp-route-id="Documents" asp-route-tag="1"> Documents </a>
            </div>
        </div>
    </div>

</div>


