body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.search-bar {
    width:30%;
    display: inline-block;
    margin-right:3px;
}

.marginHeader {
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left:5%;
}

.marginbtm {
    margin-bottom: 200px;
}

.subtitle {
    color: gray;
}

.inlineBlock {
    display: inline-block;
}

/* Libs added*/
.accordion {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
