body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.search-bar {
    margin:auto;
    width:50%;
}

.image {
    margin-top: 50px;
    margin-bottom: 35px;
}

.marginbtm {
    margin-bottom: 200px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.subtitle {
    color: gray;
}

.subcategories {
    margin-left:2%;
    font-size:12px;
}

.categoryContainer {
    max-width: 45%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
