body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.image {
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
}

.search-bar-home {
    margin:auto;
    width:50%;
}

.search-form {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.search-title {
    margin-top: 50px;
}

.search-bar {
    max-width: 70%;
    display: inline-block;
    margin-right: 3px;
}

.search-button {
    max-width: 20%;
    display: inline-block;
}

.subtitle {
    color: gray;
}


.categoryContainer {
    max-width: 45%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.categoryContainer a {
        font-size: x-large;
}

.subcategories {
    margin-left: 2%;
}

.subcategories a{
    font-size: 14px;
}


.marginbtm {
    margin-bottom: 200px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.chart-container {
    position: relative;
    margin-left: -40%;
    height: 50vh;
    width: 70vw;
}

.lineChartContainer {
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
}

.writtenTablesContainer {
    margin: 0 auto;
    margin-top: 100px;
}


/* Libs added*/
.jsgrid-grid-header, .jsgrid-grid-body {
    overflow: auto !important;
}

.accordion {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.detail_title{
    margin-top:70px;
    margin-bottom:30px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    .chart-container {
        position: relative;
        height: 40vh;
        width: 70vw;
    }
}
