@{
    ViewData["Title"] = "Search Results";
}


<h3 class="search-title">@ViewBag.QuerryTitle</h3>


<form  method="GET" class="search-form form" asp-controller="Search" asp-action="Index">
    <input type="text" class="form-control search-bar" placeholder="Pirate Search" name="q" autofocus>
    <button type="submit" class="search-button btn btn-primary">Pirate Search</button>
</form>

<div id="jsGrid"></div>


@section Scripts {
    <script src="~/js/search.js"></script>
}