@{
    ViewData["Title"] = "Statistics";
}

@section Scripts {
    <script src="~/js/statistic.js"></script>
}

<h3 class="search-title">Statistics</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" ">
            <div class="chart-container">
                <canvas id="pieNrChart"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-container">
                <canvas id="piePeersChart"></canvas>
            </div>
        </div>
    </div>
</div>

